<form name="pickupForm" action="#">
    <h4>Datos del viaje</h4>
    <div class="form-group ">
        <label class="control-label" for="">Lugar de recogida</label>
        <input type="text" class="form-control" placeholder="Ingrese dirección o código de aeropuerto" ng-model="ride.from" value="" autocomplete="off" aria-required="true" required>
    </div>

    <div class="form-group" ng-init="ride.type='location'">
        <input type="radio" value="location" ng-model="ride.type" ng-change="ride.hours=''">
        <label for="" class="control-label">Dirección destino</label>

        <input type="radio" value="hours" ng-model="ride.type" ng-change="ride.to=''">
        <label for="" class="control-label">Servicio por horas</label>
    </div>

    <div class="form-group" ng-show="ride.type=='location'">
        <input type="text" placeholder="Ingrese dirección o código de aeropuerto" ng-model="ride.to" class="form-control" name="dropOffLocation" value="" autocomplete="off" aria-required="true" ng-required="ride.type=='location'">
    </div>

    <div class="form-group" ng-show="ride.type=='hours'">
        <select name="hourlyService" class="form-control" ng-model="ride.hours" placeholder="Seleccione la cantidad de horas" ng-required="ride.type=='hours'">
			<option value="2">2 Horas</option>
			<option value="3">3 Horas</option>
			<option value="4">4 Horas</option>
			<option value="5">5 Horas</option>
			<option value="6">6 Horas</option>
			<option value="7">7 Horas</option>
			<option value="8">8 Horas</option>
			<option value="9">9 Horas</option>
			<option value="10">10 Horas</option>
			<option value="11">11 Horas</option>
			<option value="12">12 Horas</option>
			<option value="13">13 Horas</option>
			<option value="14">14 Horas</option>
		</select>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="passengerQuantity">Pasajeros</label>
                <select class="form-control" id="passengerQuantity" aria-required="true" ng-model="ride.passengers" required>
			<option selected="selected">1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
			<option>13</option>
			<option>14</option>
			<option>15</option>
			<option>16</option>
			<option>17</option>
			<option>18</option>
			<option>19</option>
			<option>20</option>
			<option>21</option>
			<option>22</option>
			<option>23</option>
			<option>24</option>
			<option>25</option>
			<option>26</option>
			<option>27</option>
			<option>28</option>
			<option>29</option>
			<option>30</option>
			<option>31</option>
			<option>32</option>
			<option>33</option>
			<option>34</option>
			<option>35</option>
			<option>36</option>
			<option>37</option>
			<option>38</option>
			<option>39</option>
			<option>40</option>
			<option>41</option>
			<option>42</option>
			<option>43</option>
			<option>44</option>
			<option>45</option>
			<option>46</option>
			<option>47</option>
			<option>48</option>
			<option>49</option>
			<option>50</option>
			</select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="bagsQuantity">Equipaje</label>
                <select class="form-control" aria-required="true" ng-model="ride.bags" required>
			<option selected="selected">0</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
			<option>9</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
			<option>13</option>
			<option>14</option>
			<option>15</option>
			<option>16</option>
			<option>17</option>
			<option>18</option>
			<option>19</option>
			<option>20</option>
			<option>21</option>
			<option>22</option>
			<option>23</option>
			<option>24</option>
			<option>25</option>
			<option>26</option>
			<option>27</option>
			<option>28</option>
			<option>29</option>
			<option>30</option>
			<option>31</option>
			<option>32</option>
			<option>33</option>
			<option>34</option>
			<option>35</option>
			<option>36</option>
			<option>37</option>
			<option>38</option>
			<option>39</option>
			<option>40</option>
			<option>41</option>
			<option>42</option>
			<option>43</option>
			<option>44</option>
			<option>45</option>
			<option>46</option>
			<option>47</option>
			<option>48</option>
			<option>49</option>
			<option>50</option>
		</select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="rideDate">Fecha de recogida</label>
                <div class="input-group date">
                    <input id="rideDate" type="date" value="" class="form-control" ng-model="ride.date" placeholder="{{appSettings.format.dateFormat}}" autocomplete="off" aria-required="true" required>
                    <span class="emphasis input-group-addon">
					<i class="glyphicon glyphicon-calendar"></i>
				</span>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="">
					Horario
				</label>
                <div class="input-group clockpicker">
                    <input type="time" ng-model="ride.time" class="form-control" value="" placeholder="{{appSettings.format.timeFormat}}" autocomplete="off" aria-required="true" required>
                    <span class="emphasis input-group-addon">
						<span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-next btn-warning" ng-click="continuar();" ng-disabled="pickupForm.$invalid">Continuar</button>
</form>